
<body style="background: radial-gradient(#04befe, rgb(18, 28, 85))">
<div class="heading" style="padding: 20px; text-align: center; font-size: 60px; font-weight: bold; color: lavender">
<p>Welcome to the Attendence Portal!</p>
</div>
</body>


<div class="f1" style="padding-top:40px ;text-align: center">
    <h1 style="color:lemonchiffon; align-content: center; font-size: 35px">Enter the URL</h1>
    <form class="" action="" method="POST" enctype="multipart/form-data">
        <div>
            <input style="font-size:25px ;border-radius: 29px; padding:29px; margin-bottom: 20px; height: 50px; width: 700px; background: whitesmoke" type="text" name="m" value="">
        </div>
        <div>
            <input class = 'btn' style="background: none; border: 2px solid #fff; border-radius: 25px; width: 160px; height: 51px; font-weight: 600; font-size: 25px; color: white" type="submit" name="" value="Submit">
        </div>
    </form>
</div>